# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Django stuff
db.sqlite3
staticfiles/

# ML artifacts
ml/ld_model.joblib

# Environment
.env

# IDE/editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

